<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{~/css/editvolleyball.css}">
  <title></title>
</head>

<body>
<div class="insidecontent">
  <div class="back">
    <a th:href="@{/admin/view}"><i class="fa-solid fa-backward"> Back</i></a>
  </div>
  <h3>Edit the Info of Volleyball</h3>
  <form th:method="post" th:action="@{/ball/save}" th:object="${volleyballs}" enctype="multipart/form-data">

  <div class="inputsection">
    <input class="iddds" hidden type="text" th:field="*{fid}" th:value="${clickedvolleyball.getFut_salId()}">

    <div class="name volleyball">
      <input type="text" placeholder="Enter the Volleyball name" required th:field="*{fname}" th:value="${clickedvolleyball.getVolleyballname()}">
    </div>
    <div class="price volleyball">
      <input type="text" placeholder="Price of Volleyball per Hour" th:field="*{fprice}" th:value="${clickedvolleyball.getVolleyballprice()}">
    </div>
    <div class="contact volleyball">
      <input type="text" placeholder="Enter the location of volleyball" th:field="*{fcontact}" th:value="${clickedvolleyball.getVolleyballcontact()}">
    </div>
    <div class="location volleyball">
      <input type="text" placeholder="Enter the location of volleyball" th:field="*{flocation}" th:value="${clickedvolleyball.getVolleyballlocation()}">
    </div>
    <div class="desc">
      <textarea type="text" placeholder="Description About Volleyball"th:field="*{Description}" th:value="${clickedvolleyball.getDescription()}"></textarea>
    </div>
    <div class="photo volleyball">
      <input type="file"th:field="*{image}" th:value="${clickedvolleyball.getVolleyballimage()}">
    </div>
    <div class="photo volleyball">
      <input type="file"th:field="*{image1}" th:value="${clickedvolleyball.getVolleyballimage1()}">
    </div>
    <div class="photo volleyball">
      <input type="file"th:field="*{image2}" th:value="${clickedvolleyball.getVolleyballimage2()}">
    </div>


  </div>
  <div class="edit">
   <a th:href="@{~/admin/edit/}+${clickedvolleyball.fut_salId}"> <button type="submit">Save Changes</button>
   </a>
  </div>
  <div class="delete">
   <a th:href="@{~/admin/delete/}+${clickedvolleyball.fut_salId}"> <button type="button">Delete Volleyball</button>
    </a>
  </div>

  </form>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>